OPENAI_API_KEY="OpenAIのAPIキー"
GOOGLE_API_KEY="GeminiのAPIキー"
TAVILY_API_KEY="TavilyのAPIキー"
AWS_ACCESS_KEY_ID="AWSのアクセスキーID"
AWS_SECRET_ACCESS_KEY="AWSのシークレットアクセスキー"
AWS_SESSION_TOKEN="AWSのセッショントークン"
AWS_REGION="AWSのリージョン"
CDK_DEFAULT_ACCOUNT="AWS-CDKのアカウント"
CDK_DEFAULT_REGION="AWS-CDKのリージョン"
